@charset "UTF-8";
.head {
  width: 100%;
  height: 1.2rem;
  background: #4DA0E6;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.head .title {
  font-size: 0.42666667rem;
  color: #fff;
}
.head a {
  width: 0.53333333rem;
  height: 0.53333333rem;
  position: absolute;
  display: flex;
  align-items: center;
}
.head a img {
  width: 100%;
}
.head .tips {
  right: 1.2rem;
}
.head .search {
  right: 0.26666667rem;
}
.banner {
  padding-top: 1.2rem;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  height: 100%;
}
.allClass {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1.33333333rem;
}
.allClass a {
  width: 25%;
  height: 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  box-sizing: border-box;
}
.allClass a div {
  width: 100%;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allClass a div img {
  min-width: 0.6rem;
}
.allClass a span {
  color: #999;
  font-size: 0.37333333rem;
}
